button{
    height: 40px;
    width: 150px;
    border-radius: 8px;
    font-size: 17px;
    margin-left: 28%;
}
input,textarea{
    width: 90%;
    border-radius: 2px;
}
.grid-login{
    display: grid;
    grid-template-columns: 40% 1fr;
    padding: 15px;
    font-size: 21px;
    margin-bottom: 7%;
}
h1{
    text-align: center;
}
#errorMsg{
    display: none;
    font-size: 18px;
    color: red;
}
label{
    margin-left: 3%;
    text-decoration: underline;
    cursor: pointer;
}
