button{
    height: 40px;
    width: 150px;
    border-radius: 8px;
    font-size: 17px;
}
body{
    background-color:#E4E4E4;
}
input,textarea{
    width: 90%;
    border-radius: 2px;
}
.grid-login{
    display: grid;
    grid-template-columns: 40% 1fr;
    padding: 15px;
    font-size: 21px;
    margin-bottom: 7%;
}
h1{
    text-align: center;
}